{% extends  'user_base.html' %}
{% load static %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid" style="width: 100%;">


  <!-- Page Heading -->
  <div class="container-fluid text-white bg-primary p-2" style="position: relative; height: 150px; ">
    <div class="page-header-content">
      <h1 class="page-header-title mb-2">Ingreso Bicicleta</h1>
      <div class="page-header-subtitle mb-4">Formulario de registro de Bicicleta</div>
    </div>
  </div>



  <div class="container-fluid mt-4" style="position: relative; top: -70px;">
    <div class="card mb-4 ">
      <!-- Default Card Example -->

      <div class="card-body" id="body">
        <form method="post" novalidate id="form-bici">
          {% csrf_token %}
          <div id="FormContentBici">
            {{ form.management_form}}
            {% for f  in  form %}
            {{ f }}

            {% endfor %}
          </div>
          <button type="submit">Guardar</button>

        </form>
        <button onclick="addInput()"> <i class="fas fa-fw fa-plus" ></i> Añadir</button>
        <p></p>
        <button onclick="deleteInput()">Delete</button>
      
      </div>
    </div>

  </div>




</div>
{% endblock %}


{% block scripts %}
<script>
  function addInput() {
    var forms = document.querySelector('#id_form-TOTAL_FORMS')

    var newinput = document.querySelector('#id_form-0-codigo').cloneNode(true);
    
    newinput.name = 'form-' + forms.value + '-codigo';
    newinput.id = 'id_form-' + forms.value + '-codigo';
    newinput.value = ""
    var newlabelcod = document.querySelector('label[for=id_form-0-codigo]').cloneNode(true);
    newlabelcod.setAttribute("for",'id_form-' + forms.value + '-codigo')

    var newselect = document.querySelector('#id_form-0-estacion').cloneNode(true);
    newselect.name = 'form-' + forms.value + '-estacion';
    newselect.id = 'id_form-' + forms.value + '-estacion';
    newselect.value = ""

    var newlabelest = document.querySelector('label[for=id_form-0-estacion]').cloneNode(true);
    newlabelest.setAttribute("for",'id_form-' + forms.value + '-estacion')

    document.querySelector('#FormContentBici').appendChild(newlabelcod);
    document.querySelector('#FormContentBici').appendChild(newinput);
    document.querySelector('#FormContentBici').appendChild(newlabelest);

    document.querySelector('#FormContentBici').appendChild(newselect);
    //
    var p = document.createElement("p");
    document.querySelector('#FormContentBici').appendChild(p);
    //
    forms.value = parseInt(forms.value) + 1;
  }

  function deleteInput() {
    var forms = document.querySelector('#id_form-TOTAL_FORMS');
    forms.value = parseInt(forms.value) - 1;
    //
    removeInput = 'id_form-' + forms.value + '-codigo';
    removeSelect = 'id_form-' + forms.value + '-estacion';

    
    document.querySelector('label[for='+CSS.escape(removeInput)+']').remove();
    document.querySelector('label[for='+CSS.escape(removeSelect)+']').remove();
    document.querySelector('#'+CSS.escape(removeInput)).remove();
    document.querySelector('#'+CSS.escape(removeSelect)).remove();

   
  }
</script>
<!-- <script src="{% static 'vendor/jquery.formset.js' %}"></script>  -->
{% endblock %}