{% extends  'user_base.html' %}
{% load static %}

{% block content %}
        <!-- Begin Page Content -->
        <div class="container-fluid" style="width: 100%;">


          <!-- Page Heading -->
          <div class="container-fluid text-white bg-primary p-2" style="position: relative; height: 150px; ">
            <div class="page-header-content">
              <h1 class="page-header-title mb-2">Ingreso Bicicleta</h1>
              <div class="page-header-subtitle mb-4">Formulario de registro de Bicicleta</div>
            </div>
          </div>

          <form method="post">
            <table>
                {{ formset }}
            </table>
        </form>

          <div class="container-fluid mt-4" style="position: relative; top: -70px;">
            <div class="card mb-4 ">
              <!-- Default Card Example -->

              <div class="card-body">
                <form  method="post" novalidate>
                  {% csrf_token %}
                  {{ form.management_form}}
                  {% for f  in  form %}
                 {{ f }}
                
                {% endfor %}
                <button type="submit">Guardar</button>
                </form>
              </div>
            </div>

          </div>




        </div>
        {% endblock %}

        {% block scripts %}
        <script src="{% static 'vendor/jquery.formset.js' %}"></script> 
        {% endblock %}

