    <!-- Sidebar -->
    <ul class="navbar-nav   bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
          <div class="sidebar-brand-icon">
            <i class="fas fa-biking rotate-n-15"></i>
          </div>
          <div class="sidebar-brand-text mx-2">Mobike Admin</div>
        </a>
  
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
  
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Home</span></a>
        </li>
  
        <!-- Divider -->
        <hr class="sidebar-divider">
  
        <!-- Heading -->
        <div class="sidebar-heading">
          Clientes
        </div>
  
  
        <!-- Nav Item - CLICRUD Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#CLICRUD" aria-expanded="true"
            aria-controls="CLICRUD">
            <i class="fas fa-fw fa-user-tie"></i>
            <span>CRUD</span>
          </a>
          <div id="CLICRUD" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="{% url 'crear_cliente'%}"><i class="fas fa-fw fa-user-plus"></i>
                <span>Añadir nuevo Cliente </span></a>
            
  
            </div>
          </div>
        </li>
  
        <!-- Nav Item - Listado Clientes -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'lista_clientes' %}">
            <i class="fas fa-fw fa-table"></i>
            <span>Listado Cliente</span></a>
        </li>
  
  
  
  
  
        <!-- Divider -->
        <hr class="sidebar-divider">
  
        <!-- Heading -->
        <div class="sidebar-heading">
          Bicicletas
        </div>
        <!-- Nav Item - Pages bicliceta Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#bicliceta" aria-expanded="true"
            aria-controls="bicliceta">
            <i class="fas fa-fw fa-bicycle"></i>
            <span>Mantenedor Bicicleta</span>
          </a>
          <div id="bicliceta" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="{% url  'crear_bicicleta' %}"><i class="fas fa-fw fa-plus"></i>
                <span>Añadir Bicicleta</span></a>
  
              <a class="collapse-item" href="{% url  'listado_bicicleta' %}"><i class="fas fa-fw fa-edit"></i>
                <span>Listado Bicicleta</span></a>
          
  
  
  
            </div>
          </div>
        </li>
  
        <!-- Divider -->
        <hr class="sidebar-divider">
  
        <!-- Heading -->
        <div class="sidebar-heading">
          Usuario
        </div>
  
  
        <!-- Nav Item - Pages Usuario Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Usuario" aria-expanded="true"
            aria-controls="Usuario">
            <i class="fas fa-fw fa-users"></i>
            <span>CRUD</span>
          </a>
          <div id="Usuario" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="{% url 'crear_usuario' %}"><i class="fas fa-fw fa-user-plus"></i>
                <span>Añadir nuevo Usuario </span></a>
            
              <a class="collapse-item" href="{% url 'lista_usuarios' %}"><i class="fas fa-fw fa-user-minus"></i>
                <span>Listar Usuario </span></a>
  
  
            </div>
          </div>
        </li>
  
  
  
  
           <!-- Divider -->
           <hr class="sidebar-divider">
  
           <!-- Heading -->
           <div class="sidebar-heading">
             Addons
           </div>
     
           <!-- Nav Item - Pages Collapse Menu -->
           <li class="nav-item">
             <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
               <i class="fas fa-fw fa-folder"></i>
               <span>Paginas</span>
             </a>
             <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
               <div class="bg-white py-2 collapse-inner rounded">
                 <h6 class="collapse-header">Pantalla Auteticación:</h6>
                 <a class="collapse-item" href="{% url 'login' %}">Iniciar Sesión</a>
                 <a class="collapse-item" href="{% url 'signup' %}">Registrar</a>
                 <a class="collapse-item" href="{% url 'password_reset' %}">Recuperacion de cuenta</a>
                 <div class="collapse-divider"></div>
                 <h6 class="collapse-header">Otras Paginas:</h6>
                 <a class="collapse-item" href="{% url 'home' %}">Home Visitante</a>
               </div>
             </div>
           </li>
  
  
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
  
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
  
      </ul>
      <!-- End of Sidebar -->