    <!-- Sidebar -->
    <ul class="navbar-nav   bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
          <div class="sidebar-brand-icon">
            <i class="fas fa-biking rotate-n-15"></i>
          </div>
          <div class="sidebar-brand-text mx-2">Mobike Admin</div>
        </a>
  
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
  
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>
  
        <!-- Divider -->
        <hr class="sidebar-divider">
  
        <!-- Heading -->
        <div class="sidebar-heading">
          Clientes
        </div>
  
  
        <!-- Nav Item - CLICRUD Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#CLICRUD" aria-expanded="true"
            aria-controls="CLICRUD">
            <i class="fas fa-fw fa-user-tie"></i>
            <span>CRUD</span>
          </a>
          <div id="CLICRUD" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="AgregarCliente.html"><i class="fas fa-fw fa-user-plus"></i>
                <span>Añadir nuevo Cliente </span></a>
              <a class="collapse-item" href="ModificarCliente.html"><i class="fas fa-fw fa-user-edit"></i>
                <span>Modificar datos Cliente </span></a>
              <a class="collapse-item" href="#"><i class="fas fa-fw fa-search"></i>
                <span>Buscar Cliente </span></a>
              <a class="collapse-item" href="#"><i class="fas fa-fw fa-user-minus"></i>
                <span>Eliminar Cliente </span></a>
  
  
            </div>
          </div>
        </li>
  
        <!-- Nav Item - Listado Clientes -->
        <li class="nav-item">
          <a class="nav-link" href="ListadoCliente.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Listado Cliente</span></a>
        </li>
  
  
  
  
  
        <!-- Divider -->
        <hr class="sidebar-divider">
  
        <!-- Heading -->
        <div class="sidebar-heading">
          Bicicletas
        </div>
        <!-- Nav Item - Pages bicliceta Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#bicliceta" aria-expanded="true"
            aria-controls="bicliceta">
            <i class="fas fa-fw fa-bicycle"></i>
            <span>Mantenedor Bicicleta</span>
          </a>
          <div id="bicliceta" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="{% url  'crear_bicicleta' %}"><i class="fas fa-fw fa-plus"></i>
                <span>Añadir Bicicleta</span></a>
  
              <a class="collapse-item" href="{% url  'listado_bicicleta' %}"><i class="fas fa-fw fa-edit"></i>
                <span>Listado Bicicleta</span></a>
              <!-- <a class="collapse-item" href="gestion_bicicleta/ListadoBicicletas.html"><i class="fas fa-fw fa-search"></i>
                <span>Buscar Bicicleta </span></a>
              <a class="collapse-item" href="#"><i class="fas fa-fw fa-minus"></i>
                <span>Eliminar Bicicleta </span></a> -->
  
  
  
            </div>
          </div>
        </li>
  
        <!-- Divider -->
        <hr class="sidebar-divider">
  
        <!-- Heading -->
        <div class="sidebar-heading">
          Usuario
        </div>
  
  
        <!-- Nav Item - Pages Usuario Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Usuario" aria-expanded="true"
            aria-controls="Usuario">
            <i class="fas fa-fw fa-users"></i>
            <span>CRUD</span>
          </a>
          <div id="Usuario" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="AgregarUsuario.html"><i class="fas fa-fw fa-user-plus"></i>
                <span>Añadir nuevo Usuario </span></a>
              <a class="collapse-item" href="ModificarUsuario.html"><i class="fas fa-fw fa-user-edit"></i>
                <span>Modificar datos Usuario </span></a>
              <a class="collapse-item" href="#"><i class="fas fa-fw fa-search"></i>
                <span>Buscar Usuario </span></a>
              <a class="collapse-item" href="#"><i class="fas fa-fw fa-user-minus"></i>
                <span>Eliminar Usuario </span></a>
  
  
            </div>
          </div>
        </li>
  
  
  
        <!-- Nav Item - Pages UtilidadesUsuario Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#UtilidadesUsuario"
            aria-expanded="true" aria-controls="UtilidadesUsuario">
            <i class="fas fa-fw fa-users-cog"></i>
            <span>Utilidades Usuarios</span>
          </a>
          <div id="UtilidadesUsuario" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="#"><i class="fas fa-fw fa-user-shield"></i>
                <span>Permisos</span></a>
  
  
            </div>
          </div>
        </li>
  
  
        <!-- Nav Item - Listado Usuarios -->
        <li class="nav-item">
          <a class="nav-link" href="ListadoUsuario.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Listado Usuarios</span></a>
        </li>
  
           <!-- Divider -->
           <hr class="sidebar-divider">
  
           <!-- Heading -->
           <div class="sidebar-heading">
             Addons
           </div>
     
           <!-- Nav Item - Pages Collapse Menu -->
           <li class="nav-item">
             <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
               <i class="fas fa-fw fa-folder"></i>
               <span>Paginas</span>
             </a>
             <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
               <div class="bg-white py-2 collapse-inner rounded">
                 <h6 class="collapse-header">Pantalla Auteticación:</h6>
                 <a class="collapse-item" href="login.html">Iniciar Sesión</a>
                 <a class="collapse-item" href="register.html">Registrar</a>
                 <a class="collapse-item" href="forgot-password.html">Recuperacion de cuenta</a>
                 <div class="collapse-divider"></div>
                 <h6 class="collapse-header">Otras Paginas:</h6>
                 <a class="collapse-item" href="home.html">Home Visitante</a>
                 <a class="collapse-item" href="404.html">404 Pagina</a>
                 <a class="collapse-item" href="blank.html">Pagina en Blanco</a>
               </div>
             </div>
           </li>
  
  
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
  
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
  
      </ul>
      <!-- End of Sidebar -->